<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="kepek/logo.jpg" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="/css/stilus.css" />
        <title>Kérdőív</title>
    </head>
    <body>
        <nav>
            <li>
                <a href="/"><span>Kilép</span></a>
            </li>
        </nav>
        <h1>Főoldal</h1>
        <div class="belepes">
            <form action="/belep" method="post" autocomplete="off">
                <label for="azon">Belépési azonosító:</label><br />
                <input type="text" name="azon" id="azon" autofocus /><br />
                <label for="jelszo">Jelszó:</label><br />
                <input type="password" name="jelszo" id="jelszo"><br />
                <button>Belépés</button>
            </form>
        </div>
    </body>
</html>
